<div x-data="{ message: '', variant: 'info' }" x-show="message" class="fixed bottom-4 right-4 z-50 px-4 py-3 rounded-md shadow-sm
            @if(isset($class)) {{ $class }} @endif">
  <p x-text="message"></p>
  <button @click="message = ''" type="button" class="text-white hover:text-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
    </svg>
  </button>
</div>
